{% extends 'base.html' %}

{% block sidebar %}
<div class="list-group">
  {% for item in categories %}
  <a href="{% url 'category' item.pk%}" class="list-group-item list-group-item-action"><p>{{ item.title }}</p>
  </a>
  {% endfor %}
</div>
{% endblock %}
{% block content%}
<div class="col-md-12">
  {% for item in cars %}
  <div class="card mb-3">
      <div class="card-header">
        Категория: {{ item.category }}
      </div>
      <div class="media">
        {% if item.photo %}
          <img src="{{ item.photo.url }}" alt="" width="100px" height="100px">
        {% else %}
          <img src="https://picsum.photos/200/300/?blur=2" alt=""  width="100px" height="100px">
        {% endif %}
        <div class="media-body">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            {% autoescape off %}
            <p class="card-text">{{ item.content | linebreaks }}</p>
            {% endautoescape %}
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
      
      <div class="card-footer text-muted">
          {{ item.created_at | date:"Y-m-d" }}
      </div>
    </div>
    {% empty %}
      <h2>Oooopppsss...</h2>
  {% endfor %}
</div>
{% endblock %}








